{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="media">
          <img
            class="rounded-circle account-img"
            src="{{ user.profile.image.url }}"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media-body">
          <h2 class="account-heading ml-5">{{ user.username }}</h2>
          <p class="text-secondary ml-5">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }} {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
      <br />
      <br />
      <hr />
    </div>
  </form>
</div>
{% endblock content %}
